include README.rst
include LICENSE
include chronqc/templates/*.txt
include chronqc/templates/*.html
include tox.ini
include chronqc/config/*
include versioneer.py
include chronqc/_version.py
include chronqc/db/*
